[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Feedback
Name[en_GB]=Feedback
Icon=/usr/share/kano-apps/icons/feedback.png
Exec=/usr/bin/kano-launcher "kdesk-blur /usr/bin/kano-feedback" feedback
Comment[en_GB]=Share your feedback with us
Categories=Extras;
StartupNotify=true
Help=Found a fault? Bugged by a bug? Got a great idea? Drop us a line and let us know! We follow up on all feedback, so every bit counts! Give us some feedback now.
