Source: kano-feedback
Maintainer: Team Kano <dev@kano.me>
Section: misc
Priority: optional
Standards-Version: 3.9.4
Build-Depends:
    build-essential,
    debhelper (>= 9),
    libfm-dev,
    libgtk2.0-dev,
    libkdesk-dev,
    lxpanel,
    lxpanel-dev,
    pkg-config,
    python-sphinx

Package: kano-feedback
Architecture: any
Depends:
    ${misc:Depends},
    curl,
    feh,
    kano-content,
    kano-profile,
    kano-toolset (>= 3.15.0-0),
    kano-video,
    kano-video-files (>=1.1-2),
    libkdesk-dev,
    lsof,
    lxpanel
Description: A tool for feedback gathering
 A tool to allow Kanux users to provide feedback

Package: kano-feedback-i18n-orig
Architecture: all
Description: Data for working on translations of kano-feedback
Multi-Arch: foreign
