Source: kano-feedback
Maintainer: Team Kano <dev@kano.me>
Section: misc
Priority: optional
Standards-Version: 3.9.4
Build-Depends: debhelper (>= 9), build-essential, pkg-config, libgtk2.0-dev,
               lxpanel, libfm-dev, libkdesk-dev

Package: kano-feedback
Architecture: any
Depends: ${misc:Depends}, curl, kano-toolset (>= 1.2-5), kano-profile,
    kano-video, kano-video-files, feh, libkdesk-dev, lsof
Description: A tool for feedback gathering
 A tool to allow Kanux users to provide feedback
