Source: kano-init
Maintainer: Radek Pazdera <radek@kano.me>
Section: admin
Priority: optional
Standards-Version: 3.9.4
Build-Depends: debhelper (>=8.0.0)

Package: kano-init
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, bc, kano-motd
Description: Initialize Kanux installation on a Kano kit
 This script asks for the user name, expands the root partition, and more.
